.search-result__button {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  max-width: 288px;
  max-height: 64px;
  margin: 0 auto 80px;
  padding: 18px 84px 22px;
  border-radius: 80px;
  background: #fff;
  border: none;
  cursor: pointer;
  display: none;
}

.search-result__button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .search-result__button {
    margin-bottom: 40px;

    padding: 14px 54px;
  }
}

@media (max-width: 320px) {
  .search-result__button {
    max-height: 56px;
    padding: 14px 83px;
    margin-bottom: 44px;
  }
}

