.loading__title {
  font-family: robotoslab, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  /* identical to box height, or 115% */
  color: #1a1b22;
  margin: 0 auto;
  padding-bottom: 16px;
}

@media (max-width: 768px) {
  .loading__title {
    padding-bottom: 10px;
  }
}

@media (max-width: 320px) {
  . {

  }
}
