.footer__copyright {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */
  color: #b6bcbf;
  margin: 0;
  padding-top: 33px;
  padding-bottom: 25px;
}

@media (max-width: 768px) {
  .footer__copyright {
    padding-top: 24px;
  }
}

@media (max-width: 320px) {
  .footer__copyright {
    order: 1;
    padding-top: 38px;
  }
}
