.circle-preloader {
  display: block;
  width: 74px;
  height: 74px;
  border: 2px solid #b6bcbf;
  border-bottom-color: #888;

  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 49px;
  margin: auto;

  animation: spin .75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .circle-preloader {
    width: 37px;
    height: 37px;
  }
}

@media (max-width: 320px) {
  .circle-preloader {

  }
}
