.technology__title {
  font-family: robotoslab, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  /* or 115% */
  color: #1a1b22;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 162px;
  max-width: 344px;
}

@media (max-width: 768px) {
  .technology__title {
    font-size: 30px;
    line-height: 34px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 320px) {
  .technology__title {
    line-height: 40px;
  }
}
