.statistic-day__title {
  font-family: robotoslab, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  /* identical to box height, or 115% */
  margin: 0;
}

@media (max-width: 320px) {
  .statistic-day__title {
    font-size: 22px;
  }
}