.github-history__card-name {
  font-family: robotoslab, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  padding-left: 16px;
  margin: 0;
}

@media (max-width: 768px) {
  .github-history__card-name {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .github-history__card-name {

  }
}
