.loading__text {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  color: #b6bcbf;
  margin: 0 0;
  padding-top: 178px;
  padding-bottom: 80px;

}

@media (max-width: 768px) {
  .loading__text {
    padding-top: 89px;
    padding-bottom: 40px;
  }
}

@media (max-width: 320px) {
  . {

  }
}
