@import url(__button/search__button.css);
@import url(__field/search__field.css);
@import url(__input/search__input.css);
@import url(__text/search__text.css);
@import url(__title/search__title.css);

.search {
  background-image: url(./../../images/georgia-de-lotz.jpg);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  padding-bottom: 80px;

}

@media (max-width: 768px) {
  .search {
    background-image: url(./../../images/georgia-de-lotz-ipad.png);
    padding-bottom: 48px;
  }
}

@media (max-width: 481px) {
  .search {
    padding-bottom: 90px;
  }
}


@media (max-width: 320px) {
  .search {
    background-image: url(./../../images/georgia-de-lotz-iphone.png);
    padding-bottom: 103px;
  }
}
