@import url(__copyright/footer__copyright.css);
@import url(__navigation/footer__navigation.css);
@import url(__menu-list/footer__menu-list.css);
@import url(__menu-item/footer__menu-item.css);
@import url(__menu-link/footer__menu-link.css);
@import url(__social-list/footer__social-list.css);
@import url(__social-item/footer__social-item.css);
@import url(__social-link/footer__social-link.css);
@import url(__social-icon/footer__social-icon.css);

.footer {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 768px) {
  .footer {
    width: 90%;
  }
}


@media (max-width: 320px) {
  .footer {
    max-width: 320px;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 18px;
    justify-content: flex-start;
  }
}
