.search-result__analytic-text {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  text-decoration: none;
}
.search-result__analytic-text:hover {
  font-weight: bold;
}