.information-for-clients__title {
  font-family: robotoslab, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  /* identical to box height, or 115% */
  color: #1a1b22;
  margin: 0;
}

@media (max-width: 768px) {
  .information-for-clients__title {
    font-size: 30px;
    line-height: 34px;
  }
}

@media (max-width: 320px) {
  .information-for-clients__title {

  }
}

