.search-result__analytic-arrow {
  position: absolute;
  top: 100px;
  right: 3px;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .search-result__analytic-arrow {
    top: 53px;
    right: 8px;
  }
}

@media (max-width: 320px) {
  .search-result__analytic-arrow {
    top: 21px;
    right: 9px;
  }
}
