.search-card__date {
  font-family: sourcesanspro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0 auto;
  width: 89%;
  padding-top: 20px;
  padding-bottom: 12px;

}

@media (max-width: 768px) {
  .search-card__date {
    padding-top: 12px;

  }
}

@media (max-width: 320px) {
  .search-card__date {
    padding-bottom: 19px;
  }
}
