@import url(__menu/header__menu.css);
@import url(__logo/header__logo.css);
@import url(__list-item/header__list-item.css);
@import url(__menu-item/header__menu-item.css);
@import url(__menu-item/_selected/header__menu-item_selected.css);
@import url(__logo/_black-text/header__logo_black-text.css);
@import url(__menu-item/_selected-black/header__menu-item_selected-black.css);
@import url(_black-box-shadow/header__black-box-shadow.css);
@import url(__menu-item/_black-hover/header__menu-item_black-hover.css);
@import url(__menu-item/_white-hover/header__menu-item_white-hover.css);
@import url(__menu-item/_black-text/header__menu-item_black-text.css);

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding-bottom: 26px;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);

}

@media (max-width: 768px) {
  .header {
    padding-top: 22px;
    padding-bottom: 18px;
  }
}

@media (max-width: 483px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

